// Mediaquerries min width 1280px - desktop
.our-collection {
  @include desktop {
    text-align: center;
  }

  h2 {
    @include desktop {
      font-size: rem(150);
      top: rem(75);
    }
  }

  .grid {
    @include desktop {
      grid-template-columns: repeat(auto-fill, minmax(rem(250), 1fr));
      gap: rem(0);
    }
    .grid-item {
      @include desktop {
        @include flex(
          $direction: column,
          $justify: center,
          $align: center,
          $gap: 0
        );

        img {
          width: 50%;
        }
      }
      .text {
        @include desktop {
          @include flex(
            $direction: column,
            $justify: center,
            $align: center,
            $gap: 20
          );
          width: 70%;
        }
      }
    }
  }
}
