nav.lg {
  display: none;
}

nav.sm {
  @include flex-space-between-center;
  position: relative;
  padding: rem(20) 0;

  ul {
    position: absolute;
    top: 95%;
    left: -5%;
    @include flex-column;
    align-items: center;
    background-color: $lightColor;
    width: 110%;
    height: 100vh;
    z-index: 1;
    background: $menuBgGradient;
    padding-top: 0.75rem;

    li {
      padding: 0.75rem 0;

      a {
        font-family: $secondaryFont;
        color: $darkColor;
        font-weight: 700;
        font-size: rem(24);
      }
    }
  }
}
