.our-collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  text-align: center;
  padding: rem(80) 0;

  @include tablet {
    text-align: left;
    padding: rem(100) 0;
  }

  @include large {
    padding: rem(120) 0;
  }

  @include desktop {
    text-align: center;
  }

  h2 {
    background: $fontBlackGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: rem(20);

    @include tablet {
      background: linear-gradient(
        to bottom,
        #83888f 6%,
        #cecece 32%,
        #fefcf7 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: rem(96);
      position: absolute;
      width: 100%;
      height: 80px;
      top: rem(50);
      left: 0;
      text-align: center;
      z-index: -1;
    }

    @include large {
      font-size: rem(120);
      top: rem(70);
    }

    @include desktop {
      font-size: rem(150);
      top: rem(75);
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: rem(40);
    padding: 0 rem(20) rem(20) rem(20);
    width: 100%;
    background: transparent;

    @include desktop {
      grid-template-columns: repeat(auto-fill, minmax(rem(250), 1fr));
      gap: rem(0);
    }
  }
  .grid-item {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    @include flex($gap: 20);

    @include tablet {
      width: 100%;
      @include flex($direction: row, $justify: center, $align: center, $gap: 0);

      img {
        width: 35%;
      }
    }

    @include desktop {
      @include flex(
        $direction: column,
        $justify: center,
        $align: center,
        $gap: 0
      );

      img {
        width: 50%;
      }
    }

    .text {
      width: 100%;
      @include flex($gap: 20);
      p {
        font-size: rem(15);
        opacity: 0.6;
      }

      @include tablet {
        width: 40%;
        @include flex(
          $direction: column,
          $justify: flex-start,
          $align: flex-start,
          $gap: 20
        );
      }

      @include large {
        width: 30%;
        p {
          font-size: 1rem;
        }
      }

      @include desktop {
        @include flex(
          $direction: column,
          $justify: center,
          $align: center,
          $gap: 20
        );
        width: 70%;
      }
    }
  }
}
