.hero {
  background: url('/images/home/mobile/image-hero-coffeepress.jpg') no-repeat
    center center/cover;
  width: 100%;
  height: rem(500);
  position: relative;
  color: $lightColor;
  border-radius: 0.625rem;

  @include tablet {
    background-image: url('/images/home/tablet/image-hero-coffeepress.jpg');
  }

  @include large {
    background-image: url('/images/home/desktop/image-hero-coffeepress.jpg');
    height: rem(650);
  }

  @include desktop {
    background-image: url('/images/home/desktop/image-hero-coffeepress.jpg');
  }

  .hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 rem(20);
    border-radius: 0.625rem;

    @include tablet {
      align-items: flex-start;
      padding: 0 rem(50);
    }

    h1 {
      @include h2-font;
      width: 100%;
      padding-bottom: 1.5rem;
      text-align: center;
    }

    p {
      width: 100%;
      text-align: center;
      line-height: rem(25);
      font-size: rem(15);
      padding-bottom: 2rem;
      opacity: 0.8;
    }

    @include tablet {
      h1 {
        @include h1-font;
        width: 65%;
        padding-bottom: 1.5rem;
        text-align: left;
      }

      p {
        width: 60%;
        text-align: left;
      }
    }

    @include large {
      padding: 0 rem(60);
      h1 {
        width: 55%;
      }

      p {
        width: 45%;
        padding-bottom: 2.5rem;
      }
    }

    @include desktop {
      h1 {
        width: 50%;
      }

      p {
        width: 40%;
      }
    }
  }

  &-about {
    background: url('/images/about/mobile/image-hero-whitecup.jpg') no-repeat
      center center/cover;

    @include tablet {
      background-image: url('/images/about/tablet/image-hero-whitecup.jpg');
    }

    @include large {
      background-image: url('/images/about/desktop/image-hero-whitecup.jpg');
      height: rem(650);
    }

    @include desktop {
      background-image: url('/images/about/desktop/image-hero-whitecup.jpg');
    }

    .hero-content {
      background-color: rgba($color: #000000, $alpha: 0.6);

      p {
        width: 95%;
      }

      @include tablet {
        p {
          width: 65%;
        }
      }

      @include large {
        p {
          width: 48%;
        }
      }

      @include desktop {
        p {
          width: 36%;
        }
      }
    }
  }

  &-plan {
    background: url('/images/plan/mobile/image-hero-blackcup.jpg') no-repeat
      center center/cover;

    @include tablet {
      background-image: url('/images/plan/tablet/image-hero-blackcup.jpg');
    }

    @include large {
      background-image: url('/images/plan/tablet/image-hero-blackcup.jpg');
      height: rem(650);
    }

    @include desktop {
      background-image: url('/images/plan/desktop/image-hero-blackcup.jpg');
    }

    .hero-content {
      background-color: rgba($color: #000000, $alpha: 0.3);

      @include tablet {
        p {
          width: 65%;
        }
      }

      @include large {
        p {
          width: 50%;
        }
      }

      @include desktop {
        p {
          width: 36%;
        }
      }
    }
  }
}
