@import 'variables';
@import 'functions';
@import 'mixins';
@import 'utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $lightColor;
  @include body-font;
}

.title {
  @include title-font;
}

h1 {
  @include h1-font;
}

h2 {
  @include h2-font;
}

h3 {
  @include h3-font;
}

h4 {
  @include h4-font;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  color: $greyColor;
  text-decoration: none;
  transition: color 0.3s ease;
  &:hover {
    color: $darkColor;
  }
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: rem(1280);
  margin: 0 auto;
  padding: 0 rem(20);
}

.hidden {
  display: none;
}

@import 'components/navigation/navigation';
@import 'components/navigation/navigationTablet';
@import 'components/hero/hero';
@import 'components/hero/heroTablet';
@import 'components/hero/heroLarge';
@import 'components/hero/heroDesktop';

@import 'components/coffeeGrid/coffeeGrid';
@import 'components/coffeeGrid/coffeeGridTablet';
@import 'components/coffeeGrid/coffeeGridLarge';
@import 'components/coffeeGrid/coffeeGridDesktop';

@import 'components/whyChooseUs/whyChooseUs';
@import 'components/whyChooseUs/whyChooseUsTablet';
@import 'components/whyChooseUs/whyChooseUsLarge';
@import 'components/whyChooseUs/whyChooseUsDesktop';

@import 'components/progressBar/progressBar';
@import 'components/progressBar/progressBarTablet';
@import 'components/progressBar/progressBarLarge';
@import 'components/progressBar/progressBarDesktop';

@import 'components/footer/footer';
@import 'components/footer/footerTablet';
@import 'components/footer/footerDesktop';
