@import 'variables';
@import 'functions';
@import 'mixins';
@import 'utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $lightColor;
  @include body-font;
}

.title {
  @include title-font;
}

h1 {
  @include h1-font;
}

h2 {
  @include h2-font;
}

h3 {
  @include h3-font;
}

h4 {
  @include h4-font;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  color: $greyColor;
  text-decoration: none;
  transition: color 0.3s ease;
  &:hover {
    color: $darkColor;
  }
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.hidden {
  display: none;
}

@import 'components/navigation';
@import 'components/hero';

@import 'components/coffeeGrid';
